<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a routerLink= "admin"  class="nav-link px-2 text-white">Admin</a></li>
          <li><a routerLink= "list-pizza-orders" class="nav-link px-2 text-white">Order List</a></li>
          <li><a routerLink= "create-pizza-order" class="nav-link px-2 text-white">Order</a></li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-warning me-2" >Login</button>
        </div>
      </div>
    </div>
  </header>
